<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @question.theme_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Points:</strong>
  <%= @question.points %>
</p>

<p>
  <strong>Problem statement:</strong>
  <%= @question.problem_statement %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>
<p>
  <strong>QType:</strong>
  <%= @question.qtype %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back to Question', questions_path %>
