<h2>LeaderBoard</h1>
<% 
	arr = []
	User.all.each do |u|
		cc = u.submissions.where(status: "correct").select("distinct question_id").count
    # cc1 = u.submissions.where(status: "correct").count>0 ? u.submissions.where(status: "correct").order("time_of_submission").last.time_of_submission : 0
    cc1=0
    if u.submissions.where(status: "correct").count > 0
      cc1 = u.submissions.where(status: "correct").order("time_of_submission").last.time_of_submission
    end
		name = u.username
		total = u.submissions.count
		points = (cc * 100) - ((total-cc) * 15) >0 ? (cc * 100) - ((total-cc) * 15) : 0
		arr << [name,cc,total,cc1,points]
	end
	arr = arr.sort {|x,y| [y[4],x[3]] <=> [x[4],y[3]]}
%>
<%# arr %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Problems Solved</th>
      <th>Total Submissions</th>
      <th>Points</th>
      <th>Last Correct submission</th>
      <!-- <th>Aggregate Time</th>
 -->   
 	</tr>
  </thead>

  <tbody>

    <% arr.each_with_index do |a,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
        <td><%= a[2] %></td>
        <td><%= a[4] %></td>
        <td><%= a[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

