<h2>LeaderBoard</h1>
<% 
	arr = []
	User.all.each do |u|
		cc = u.submissions.where(status: "correct").select("distinct question_id").count
    # cc1 = u.submissions.where(status: "correct").count>0 ? u.submissions.where(status: "correct").order("time_of_submission").last.time_of_submission : 0
    cc1=0
    if u.submissions.where(status: "correct").count > 0
      cc1 = u.submissions.where(status: "correct").order("time_of_submission").last.time_of_submission
    end
		name = u.username
		total = u.submissions.count
    wrong_sql = u.submissions.where(status: "wrong").count
    
    
    correct_submissions = u.submissions.where(status: "correct").count
		points = (cc * 100) - ((wrong_sql ) * 15) >0 ? (cc * 100) - ((wrong_sql) * 15) : 0
    correct_mag = u.submissions.where(status: "correct_ans").select("distinct question_id")
    correct_mag.each do |x|
      max_points=0
      submissions_for_x = u.submissions.where(question_id: x.question_id).where(status: "correct_ans")
      submissions_for_x.each do |s|
        if s.points > max_points
          max_points = s.points
        end
        
      end
      points += max_points
    end

		arr << [name,cc+correct_mag,total,cc1,points]
	end
	arr = arr.sort_by {|x,y| [y[4],x[3]] <=> [x[4],y[3]]}
%>
<%# arr %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Problems Solved</th>
      <th>Total Submissions</th>
      <th>Points</th>
      <th>Last Correct submission</th>
      <!-- <th>Aggregate Time</th>
 -->   
 	</tr>
  </thead>

  <tbody>

    <% arr.each_with_index do |a,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= a[0] %></td>
        <td><%= a[1] %></td>
        <td><%= a[2] %></td>
        <td><%= a[4] %></td>
        <td><%= a[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

